---

---

<div class="logo h-full flex rounded-md text-blue_c items-center">
    <a href="/" target="" rel="noopener noreferrer">
        <h1 class="font-extrabold  underline   decoration-transparent transition-all duration-500  hover:decoration-blue_c ">
            <span class="p-1">BuddyFinder</span>
        </h1>
    </a>
</div>
