---
import InputSuggestOptions from "../mini/InputSuggestOptions.tsx";

---
<div class="bg-blue_c text-white_c p-2 rounded-md">
    <div class="">
        <div class="heading">
            <h1 class="font-bold text-3xl">
                <center> 
                    Here We Go !!
                </center>
            </h1>
        </div>
    </div>
    <hr class="py-6 mt-6 border-t-2 "/>
    <div>
        <div class="w-1/2">
            <InputSuggestOptions client:load
            placeholder="Skills"
            ></InputSuggestOptions>
        </div>
    </div>
</div>